.hotaccessories{
    display: flex;
    justify-content: center;
    align-items: center;

}
.hotaccessorieslink{
    text-decoration: none;
    margin: 1vmax;
    padding: 0.5vmax 0;
    color: rgb(76, 76, 76)
}
.hotaccessorieslink:hover{
    color: orangered;
    border-bottom: 1px solid orangered;

}
/* .itemcard{
    display: flex;
    width: 10%;
    
}
.itemcard img{
    width: 100%;
}

.musicAccessories{
    display: flex;
}

.hotitemcard{
    align-items: center;
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    
}
.hotitemcard img{
    width: 70%;
} */