.offerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
    
}

.offerSection img{
    margin: 0 1vmax;
    transition: all 0.2s;
}
.offerSection img:hover{
    box-shadow: 6px 6px 15px black;
}


@media (max-width:1024px) {
    .offerSection {
        width: 100%;
        justify-content: center;
        margin: auto;
        margin: left 0.5em; ;
        
    }
    .offerSection img{
       width: 100%;
       justify-content: space-evenly;

    }
    
}