.video{
    display: flex;
    width: 90%;
    margin: auto;
}
.videCard{
    width: 30vw;
    height:40vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.5vmax;
    cursor: pointer;
}
.videCard>a{
    padding: 0.5vmax;
    transition: all 0.5sec;
    border: none;
   }
.videCard>a>svg{
    fill: white;
}

.videCard:hover a{
    padding: 2.5vmax;
    border: none;
    border-radius: 100%;
    background-color: rgb(179, 178, 178);
    

}

.videCard p{
    margin-top: 2.5vmax;
    color: white;
}